# Data Science Pandas

## Tasks Today:

0) <b>Pre-Work</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Numpy Random Sampling

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Slicing a DataFrame <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - drop_duplicates() <br>

## Numpy Random Sampling

In [15]:
import numpy as np

# A single call generates a single random number
print('Here is a random number: %s' % np.random.uniform())
print(f'Here is a random number: {np.random.uniform()}')

# You can also pass some bounds
print('Here is a random number between 0 and 1 Million: %s' % np.random.uniform(0, 1e6))

# You can also generate a bunch of random numbers all at once
print('Here are 3 random numbers between 0 and 1 Million: %s' % np.random.uniform(0, 1e6, 3))

# Even matrices and tensors with weird shapes
print('Here is a 3x3 matrix of random numbers between 0 and 1 Million: \n %s' % np.random.uniform(0, 1e6, (3, 3)))

# instead of float values, generating random integers
print('Using Random Integer: %s' % np.random.randint(0, 10, 4))

Here is a random number: 0.30480135627005556
Here is a random number: 0.929094596255323
Here is a random number between 0 and 1 Million: 701481.2043692766
Here are 3 random numbers between 0 and 1 Million: [514190.58057931 754600.63563936 478989.37736912]
Here is a 3x3 matrix of random numbers between 0 and 1 Million:
 [[671608.28001644 689639.37546204 347171.3725978 ]
 [993903.25460135 398359.62640853 163294.74311453]
 [831193.61014326  69787.18985502  56060.38323603]]
Using Random Integer: [0 9 7 3]

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [16]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\corro\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\corro\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\corro\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\corro\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\corro\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [17]:
import pandas as pd

# always use pd, standard for data science

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

In [18]:
names = ['Alice',
         'Bob',
         'James',
         'Beth', 
         'John', 
         'Sally',
         'Richard', 
         'Lauren',
         'Brandon', 
         'Sabrina']

ages = np.random.randint(18,35,len(names))

my_people = {
    'names': names,
    'ages': ages
}

my_people

{'names': ['Alice',
  'Bob',
  'James',
  'Beth',
  'John',
  'Sally',
  'Richard',
  'Lauren',
  'Brandon',
  'Sabrina'],
 'ages': array([21, 19, 21, 21, 29, 18, 31, 21, 27, 34])}

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

In [19]:
data = pd.DataFrame.from_dict(my_people)

data

     names  ages
0    Alice    21
1      Bob    19
2    James    21
3     Beth    21
4     John    29
5    Sally    18
6  Richard    31
7   Lauren    21
8  Brandon    27
9  Sabrina    34

##### read_csv()

In [20]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

marathon = pd.read_csv('files/boston_marathon2017_edited.csv', sep = ',')
marathon

FileNotFoundError: [Errno 2] No such file or directory: 'files/boston_marathon2017_edited.csv'

### In-Class Exercise #1 - Read in Boston Red Sox Hitting Data <br>
<p>Use the pandas read_csv() method to read in the statistics from the two files yesterday.</p>

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

In [ ]:
data_ages = data['ages']
data_ages

print(type(data_ages))
# print out the type of the variable data
# Series
print(type(data_ages))
# DataFrame
print(type(data))

# DataSeries Index - starting at 0
print(data_ages[3])

# key first, row index second
print(data['ages'][3])

# print(float(data_ages[0]))
# print(data_ages)

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

In [21]:
print(data)

# Grab the first row of data -- by the index of the row
my_row = data.loc[2]
print(f'Location of the 3rd row in the data \n{my_row}')

# Getting multiple values frm a df.loc
multiple_peeps = data.loc[[0,1,2]]['names']

print(f'Location of multiple people: \n{multiple_peeps}')
print(type(multiple_peeps))

# Using df.loc and producing a DataFrame at the end
multiple_peeps_df = data.loc[[0,1,2]][['names', 'ages']]
print(multiple_peeps_df)
print(type(multiple_peeps_df))

# Reset our my_people dataframe index
reset_index = data.loc[ [0,1,2,3] ].set_index('names')
print(reset_index)


print(reset_index.loc['James'])
# print(data.loc[2])
# reset_index.reset_index()

     names  ages
0    Alice    21
1      Bob    19
2    James    21
3     Beth    21
4     John    29
5    Sally    18
6  Richard    31
7   Lauren    21
8  Brandon    27
9  Sabrina    34
Location of the 3rd row in the data
names    James
ages        21
Name: 2, dtype: object
Location of multiple people:
0    Alice
1      Bob
2    James
Name: names, dtype: object
<class 'pandas.core.series.Series'>
   names  ages
0  Alice    21
1    Bob    19
2  James    21
<class 'pandas.core.frame.DataFrame'>
       ages
names
Alice    21
Bob      19
James    21
Beth     21
ages    21
Name: James, dtype: int32

##### keys()

In [22]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()

data.keys()
print(type(bos2017.keys()))
print(type(bos2017.keys().tolist()))

NameError: name 'bos2017' is not defined

##### Slicing a DataFrame

In [23]:
# printing all data for context
data[2:5]

   names  ages
2  James    21
3   Beth    21
4   John    29

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [24]:
# DataFrame.head()  -- Accepts integer parameter(gives access to more rows)
bos2017.head()

NameError: name 'bos2017' is not defined

##### tail()

In [25]:
# DataFrame.tail()  -- Accepts integer parameter(gives access to more rows)
bos2017.tail()

NameError: name 'bos2017' is not defined

##### shape

In [26]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter

bos2017.shape

NameError: name 'bos2017' is not defined

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [27]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include, exclude)
# bos2018.describe()['Age']
bos2018.describe(include='all')

NameError: name 'bos2018' is not defined

##### sort_values()

In [28]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

# DataFrame.sort_values('key')

sorted_data = data.sort_values('ages', kind='mergesort')

sorted_data.reset_index(drop=True)

     names  ages
0    Sally    18
1      Bob    19
2    Alice    21
3    James    21
4     Beth    21
5   Lauren    21
6  Brandon    27
7     John    29
8  Richard    31
9  Sabrina    34

##### .columns

In [29]:
# will show all cols headers
# DataFrame.columns -- has no parameters
print(bos2017.columns)
print(f"Columns Type: {type(bos2017.columns)}")

print('\n')

print(bos2017.keys())
print(f"Keys Type: {type(bos2018.keys())}")

NameError: name 'bos2017' is not defined

### In-Class Exercise #2 - Describe & Sort Boston Red Sox Hitting Data <br>
<p>Take the data that you read in earlier from the Red Sox csv's and use the describe method to understand the data better. Compare the two years and decide which team is having the better year. Then sort the values based on Batting Average.</p>

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [ ]:
# Conditional boolean dataframe
data['ages'] >= 25

##### Subsetting

In [ ]:
# exactly like numpy
data[data['ages'] >= 25]

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following dataframe containing membership term and renewal number for a group of customers:</p>

In [ ]:
# Generate some fake data
customer_id = np.random.randint(1000,1100, 10)
renewal_nbr = np.random.randint(0,10,10)
customer_dict = {1: 0.5, 0:1}
terms_in_years = [customer_dict[key] for key in np.random.randint(0,2,10)]

random_data = {
    'customer_id': customer_id,
    'renewal_nbr': renewal_nbr,
    'term_in_years': terms_in_years
}

customers = pd.DataFrame.from_dict(random_data)
customers

##### Generating a New Column w/Data

In [ ]:
# DataFrame['key'] = Some Calculation from our DataFrame Columns
customers['customer_tenure'] = customers['renewal_nbr'] * customers['term_in_years']

customers

##### User Defined Function

<p>If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column. Let's add some ages to our customer dataframe, and then classify them into our custom defined grouping scheme:</p>

In [ ]:
# use .apply to map over dataframe

# Create a new column for ages
customers['ages'] = np.random.randint(18,70,10)

# User Defined Function
def make_age_groups(age):
    if 10 <= age and 20 > age:
        return 'Teenager'
    elif 20 <= age and 35 > age:
        return 'Young Adult'
    elif 35 <= age and 65 > age:
        return 'Adult'
    elif 65 <= age:
        return 'Senior'
    
customers['age_group'] = customers['ages'].apply(make_age_groups)
customers

<p>As a last example I'll show here how you would use a lambda function to create a UDF that depends on $\textit{more than one}$ column:</p>

<li>UDF = User Defined Function</li>

In [ ]:
#Axis for apply can only be 1 or 0 -- 1 being the X axis 0 being the Y axis

def make_loyalty_age_group(row):
    age = row['ages']
    tenure = row['customer_tenure']
    if age >= 10 and age < 20:
        age_group = 'Teenager'
    elif age >= 20 and age < 35:
        age_group = 'Young Adult'
    elif age >= 35 and age < 65:
        age_group = 'Adult'
    elif age >= 65:
        age_group = 'Senior'
        
    if tenure > 2.0:
        loyalty_age_group = f'Loyal {age_group}'
    else:
        loyalty_age_group = f'New {age_group}'
        
    return loyalty_age_group

customers['loyalty_age_group'] = customers.apply(make_loyalty_age_group, axis=1)
customers

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Boston Red Sox data, create your own UDF which creates a new column called 'All-Star' and puts every player with either a batting average over .280 or an on base percentage of over .360 with a result of 'Yes' in the column and 'No' if not.</p>

In [ ]:
"""
    Name  BA OBP AllStar
    --------------------
    Name .233 .360 Yes
    Name .150 .288 No
"""

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [ ]:
# also introducing .count() here, exact same as to how it's used in SQL

# Using the groupby with the column intact as a column/key
# customers.groupby('age_group', as_index = False).count()[['customer_id','age_group']]

customers.groupby('age_group').count()
print(type(customers.groupby('age_group').count()))

customers.groupby('age_group', as_index=False).count()

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

In [ ]:
print(type(customers), 'Regular Data Frame')
print(f'\n Type of Group By for Customers.GroupBy: {type(customers.groupby("age_group"))}')

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [ ]:
# mean = average
customers.groupby('age_group').mean()[['customer_tenure', 'ages']]

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

In [ ]:
customers.groupby(['age_group', 'ages']).mean().sort_values('ages', ascending=False)

##### drop_duplicates()

<p>Drops all duplicates from the current dataframe</p>

In [ ]:
customers

In [ ]:
customers_copy = customers.drop_duplicates('renewal_nbr', ignore_index=True)
customers_copy

<p>Thus the groupby operation allows you to rapidly make summary observations about the state of your entire dataset at flexible granularity. In one line above, we actually did something very complicated - that's the power of the dataframe. In fact, the process often consists of several iterative groupby operations, each revealing greater insight than the last - if you don't know where to start with a dataset, try a bunch of groupbys!</p>

### Homework Excersise #1 - Red Sox Data<br>
<p>Get total number of home runs and rbi's</p>

In [13]:
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'

# step 2: Group by the 'Team' column and get total home runs and rbi's

# Produce data for both 2017 and 2018

"""
TEAM    HR   RBI
----------------
BOS     144  538
"""

'\nTEAM    HR   RBI\n----------------\nBOS     144  538\n'

In [30]:
b17['Team'] = 'BOS'
b17.groupby('Team').sum()[['HR', 'RBI']]

NameError: name 'b17' is not defined

In [ ]:
b18['Team'] = 'BOS'
b18.groupby('Team').sum()[['HR', 'RBI']]

## Find the average age of runners in the 2017 Boston Marathon

In [31]:
marathon

NameError: name 'marathon' is not defined